.env
.venv/
__pycache__/
.DS_Store

data/raw/taxi/*.parquet
data/raw/taxi/*.part
data/raw/weather/*.json
data/raw/weather/*.part
data/raw/weather/*.csv

*.duckdb
*.duckdb.wal

target/
dbt_packages/
logs/
dbt/profiles.yml
dbt/.user.yml
